.portifolio {
    text-align: center;
    /* Centraliza o texto */
    color: #fff;
    background-color: #212529;
}

.portifolio h1 {
    font-size: 3rem;
    color: #ff8c00;
}

.portifolio p {
    font-size: 1.2rem;
}