h1 {
  text-align: center;
}

img {
  margin-left: auto;
}

body {
  background-color: rgb(179, 177, 175);
  text-align: center;
}
#linkedin_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

#linkedin_button:hover {
  background-color: #393939;
}

.empolgado-box {
  border: 2px solid #000;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.empolgado-box p {
  font-size: 18px;
  text-align: center;
}

.project-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.project-list li {
  display: inline-block;
  margin: 10px;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  background-color: #676767;
}

