

body {
  background-color: rgb(5, 5, 2);
}

.meuNome, .descricao {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: red;
}

body {
  color: yellow;
}

em {
  color: rgb(7, 45648, 3);
}

.javascript {
  font-size: 20px;
}

.sql {
  font-size: 18px;
}

.react {
  font-size: 16px;
}

.bootstrap {
  font-size: 14px;
}

.metoAgil {
  font-size: 12px;
}
