body {
  padding: 3%;
}

.meuNome {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}
.descricao {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 10px;
  margin-left: 210px;
}

body {
  background-color: rgb(216, 216, 216);
}

em {
  color: rgb(67, 138, 83);
}

.javascript {
  font-size: 20px;
}

.sql {
  font-size: 18px;
}

.react {
  font-size: 16px;
}

.bootstrap {
  font-size: 14px;
}

.metoAgil {
  font-size: 12px;
}

#foto {
 float: left;
 padding: 10px;
 width: 180px;
 background-color: rgb(190, 190, 190);
}

.imagem-container {
  height: 200px;
  position: relative;
}

ul li:nth-child(odd) {
  background-color: rgb(192, 192, 192);
}
