.cardContainer {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card {
    text-align: center;
    margin-left: 200px;
}

.textContainer {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 100px;
    color: #149CEA;
    display: flex;
    justify-content: start;
}

h2 {
    font-size: 20px;
    margin: 20px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 2;
    text-align: left;
}

.buttonA {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    margin-right: 100px;
    font-weight: bold;
    color: #149CEA;
    cursor: pointer;
}

.buttonA::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
}

.buttonA::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
}

.buttonA:hover::before,
.buttonA:hover::after {
    transform: scale(0)
}

.buttonA:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

a {
    padding: 20px;
    text-decoration: none;
}

.divA {
    margin-top: 100px;
}