.cardContainer {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card {
    text-align: center;
    margin-left: 200px;
}

.textContainer {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 100px;
    color: #149CEA;
    display: flex;
    justify-content: start;
}

h2 {
    font-size: 15px;
    margin: 20px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 2;
    text-align: left;
}

.buttonA {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    margin-right: 100px;
    font-weight: bold;
    color: #149CEA;
    cursor: pointer;
}

.buttonA::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
}

.buttonA::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
}

.buttonA:hover::before,
.buttonA:hover::after {
    transform: scale(0)
}

.buttonA:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

a {
    padding: 20px;
    text-decoration: none;
}

.divA {
    margin-top: 150px;
}

@media screen and (max-width: 416px) and (max-height: 898px) {
    .cardContainer {
        flex-direction: column; /* Altera a direção da flexbox para coluna */
        align-items: center; /* Centraliza os itens na coluna */
    }

    .card {
        margin: 20px; /* Reduz a margem para 20px */
    }

    .textContainer {
        max-width: 80%; /* Reduz a largura máxima para 80% */
        margin-top: 50px; /* Adiciona margem superior de 50px */
    }

    h1 {
        font-size: 40px; /* Reduz o tamanho da fonte para 40px */
        margin-top: 50px; /* Reduz a margem superior para 50px */
        margin-left: 30px;
    }

    h2 {
        font-size: 14px; /* Reduz o tamanho da fonte para 14px */
        margin-top: 30px; /* Reduz a margem superior para 30px */
        margin-bottom: 30px; /* Reduz a margem inferior para 30px */
        text-align: center; /* Centraliza o texto */
    }

    .buttonA {
        width: 100%; /* Define a largura para 100% para ocupar todo o espaço disponível */
        margin: 20px 0; /* Adiciona margem superior e inferior de 20px */
        font-size: 14px; /* Reduz o tamanho da fonte para 14px */
        margin-right: 0; /* Remove a margem direita */
    }

    .divA {
        margin-top: 50px; /* Reduz a margem superior para 50px */
    }
}
