.header {
    align-items: center;
    background-color: yellow;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    justify-content: flex-end;
    text-align: center;
    width: 100vw;
}

.logo {
    height: 9vh;
    margin-left: 100px;
    margin-right: 50px;
    width: 5vw;
}

@media screen and (max-width: 416px) and (max-height: 898px) {

    .header {
        background-color: yellow;
        color: black;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .logo {
        height: 50px;
        width: 50px;
        align-items: center;
        margin-right: 100px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 40px;
        text-align: center;
    }
}