.header {
    background-color: yellow;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.logo {
    height: 9vh;
    width: 5vw;
}

@media screen and (max-width: 416px) and (max-height: 898px) {
    .header {
        background-color: yellow;
        color: black;
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
        border-top-left-radius: 10px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 5px;
        margin: 0 auto;
    }

    .logo {
        height: 50px;
        width: 50px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 40px;
        text-align: center;
    }
}