body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#titulo {
  font-family: Courier New, Courier, monospace;
  font-size: 50px;
  color: rgb(73, 73, 73);
  line-height: 10%;
}

#minha_foto {
  margin-left: 20px;
  margin-top: 70px;
  padding: 10px;
  border: 10px;
}

.lado-esquerdo {
  width: 50%;
  height: 100px;
  border: 2px solid black;
  padding: 10px;
  margin-left: 30px;
  display: inline-block;
}

.lado-direito {
  width: 40%;
  height: 100px;
  border: 2px solid black;
  padding: 10px;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 100px;
}
