.oQueFaco {
    text-align: center;
    /* Centraliza o texto */
    color: #fff;
    background-color: #000;
}

.oQueFaco h1 {
    font-size: 3rem;
    color: #ff8c00;
}

.oQueFaco p {
    font-size: 1.2rem;
}