.caixaProjetos {
    border: 2px solid #149CEA;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 50px;
    width: 30vw;
}

.titulo {
    font-size: 30px;
}

@media screen and (max-width: 416px) and (max-height: 898px) {
    .caixaProjetos {
        border: 2px solid #149CEA;
        margin: 20px;
        padding: 20px;
        width: 80%;
    }

    .titulo {
        font-size: 24px;
    }
}
