html, body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
}
.App.dark {
  background-color: #333;
  color: white;
}


.button {
  width: 100px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(63, 63, 63);
  color: #149CEA;
  font-weight: bold;
}