/* Estilos para o Modo Claro */
.App {
  background-color: white;
  color: black;
  width: 100vw;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o Modo Escuro */
.App.dark {
  background-color: #333;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}